<head>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
      </head>
      <body style="background-image: url('./assets/www.jpg'); height: 1356px; background-repeat: no-repeat; background-size: 2000px 2000px; ">
        <div class="col-md-6" style="color:rgb(28, 142, 207); margin-left: 300px;"><br>
            <img src="./assets/tr.png" width="15%" height="15%" style="margin-left: 260px; margin-top: 25px;">
  <h2 class="text-center">Add Trainings Details</h2>
<form>
  <div class="form-group">
    <label for="id">Training Id</label>
    <input type="text" [(ngModel)]="trainings.id" placeholder="Trainings Id" name="id" class="form-control" id="id">
  </div>

  <div class="form-group">
      <label for="status">Status</label>
      <input type="text" [(ngModel)]="trainings.status" placeholder="Status" name="status" class="form-control" id="status">
    </div>

    <div class="form-group">
        <label for="progress">Progress</label>
        <input type="text" [(ngModel)]="trainings.progress" placeholder="Progress" name="progress" class="form-control" id="progress">
      </div>

      <div class="form-group">
          <label for="camnt">Commission</label>
          <input type="text" [(ngModel)]="trainings.commissionAmount" placeholder="Commission" name="camnt" class="form-control" id="camnt">
        </div>

        <div class="form-group">
            <label for="rating">Rating</label>
            <input type="text" [(ngModel)]="trainings.rating" placeholder="Rating" name="rating" class="form-control" id="rating">
          </div>

    <div class="form-group">
        <label for="startDate">Start Date</label>
        <input type="text" [(ngModel)]="trainings.startDate" placeholder="Start Date" name="startDate" class="form-control" id="startDate">
    </div>

    <div class="form-group">
        <label for="endDate">End Date</label>
        <input type="text" [(ngModel)]="trainings.endDate" placeholder="End Date" name="endDate" class="form-control" id="endDate">
    </div>

    <div class="form-group">
        <label for="startTime">Start Time</label>
        <input type="text" [(ngModel)]="trainings.startTime" placeholder="Start Time" name="startTime" class="form-control" id="startTime">
    </div>

    <div class="form-group">
        <label for="endTime">End Time</label>
        <input type="text" [(ngModel)]="trainings.endTime" placeholder="End Time" name="endTime" class="form-control" id="endTime">
    </div>

    <div class="form-group">
        <label for="amnt">Amount Received</label>
        <input type="text" [(ngModel)]="trainings.amountReceived" placeholder="Amount" name="amnt" class="form-control" id="amnt">
    </div>

    

    <div class="form-group">
        <label for="uname">User Name</label>
        <input type="text" [(ngModel)]="trainings.userName" placeholder="User Name" name="uname" class="form-control" id="uname">
    </div>

    <div class="form-group">
        <label for="mentor_id">Mentor Id</label>
        <input type="text" [(ngModel)]="trainings.mentor_id" placeholder="Mentor Id" name="mid" class="form-control" id="mid">
    </div>

    <div class="form-group">
        <label for="mname">Mentor Name</label>
        <input type="text" [(ngModel)]="trainings.mentorName" placeholder="Mentor Name " name="mname" class="form-control" id="mname">
    </div>

    
    <div class="form-group">
            <label for="techId">Technology Id</label>
            <input type="text" [(ngModel)]="trainings.techId" placeholder="Technology Id" name="tid" class="form-control" id="tid">
        </div>
    <div class="form-group">
        <label for="fees">Fees</label>
        <input type="text" [(ngModel)]="trainings.fees" placeholder="Fees" name="fees" class="form-control" id="fees">
    </div>

      

  <button class="btn btn-success" (click)="createTrainings()">Insert</button>
</form>
</div>
</body>